* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-right: 0;
}
.first_page {
    position: relative;
}
.cover {
    height: 650px;
    width: 1330px;
    background: #000 url(/build/images/water-and-fire-hd-wallpaper.jpg) no-repeat;
    background-size: contain;
    background-clip: content-box;
}
.first_page .title {
    margin-top: 21%;
    margin-left: 49%;
    position: absolute;
    color: rgb(222, 164, 164);
}