* {
	margin: 0;
	padding: 0;
	font-family: arial;
}
/* ::::: Commonly used classes ::::: */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.clearall {
	clear: both;
}
.mt__primary-block {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/bg-1.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* background-size: 100% 100%; */
}
h4.mt__primary-block__title {
position: absolute;
bottom: 20%;
right: 3%;
padding: 14px 60px;
font-size: 40px;
background: rgba(29, 29, 29, 0.4);
color: #fff;
font-weight: 100;
text-shadow: 5px 5px 4px rgba(237, 237, 237, 0.15);
}

.mt__primary-block__logo {
position: absolute;
top: 1%;
right: 3%;
width: 300px;
height: 140px;
}

.mt__primary-block__logo a {
display: inline-block;
width: 100%;
height: inherit;
background: url(../images/logo.png) no-repeat;
background-size: contain;
z-index: 9999;
}

/* ::::: Header Styles starts here ::::: */

.mt__header-block {
	position: fixed;
	width: 100%;
	height: 80px;
	background: #000;
	top: -82px;
	z-index: 9;
	transition: all 0.3s ease-in;
}
.mt__header-block.show {
	top: 0;
}
ul.mt__header__nav {
	float: left;
	margin-top: 25px;
	margin-left: 3%;
}
li.mt__header__nav__item {
	float: left;
	margin-right: 10px;
}
li.mt__header__nav__item a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	padding: 3px 15px;
	position: relative;
}
li.mt__header__nav__item:hover a,
li.mt__header__nav__item.active a {
	color: #457AC0;
}
li.mt__header__nav__item.active a:after {
	content: '';
	position: absolute;
	height: 3px;
	width: calc(100% - 50px);
	background: #457AC0;
	display: inline-block;
	left: 25px;
	bottom: -8px;
}
ul.mt__header__social {
	float: right;
	margin-top: 17px;
	margin-right: 3%;
}
li.mt__header__social__item {
	float: left;
	margin-left: 20px;
}
li.mt__header__social__item a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/social.png);
	border-radius: 50%;
	background-size: 250%;
	transition: all 0.25s ease-out;
}
li.mt__header__social__item a:hover {
	background-color: rgba(49, 48, 48, 0.6);
	box-shadow: 0 0 14px 0 rgba(199, 196, 196, 0.42) inset;
}
li.mt__header__social__item.facebook a {
	background-position: -3px -3px;
}
li.mt__header__social__item.twitter a {
	background-position: -2px -83px;
}
li.mt__header__social__item.youtube a {
	background-position: 48px -42px;
}
li.mt__header__social__item.gplus a {
	background-position: -4px -40px;
}
/* ::::: Header Styles ends here ::::: */

/* ::::: About Styles starts here ::::: */

.mt__secondary-block {
	position: absolute;
	top: 100%;
	width: 100%;
}
.mt__about-block {
	position: relative;
	height: 650px;
	background: #ececec;
}
.mt__container {
	width: 1000px;
	margin: auto;
	height: inherit;
}
.mt__about__left-container {
	float: left;
	width: 40%;
	height: inherit;
	position: relative;
}
.mt__about__right-container {
	float: right;
	width: 55%;
	height: inherit;
}
.mt__about__photo-wrap {
    width: 250px;
    height: 400px;
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h5.mt__about__title {
    font-size: 50px;
    margin: 0;
    margin-top: 130px;
	color: #251F1F;
}

h6.mt__about__sub-title {
    font-size: 24px;
    margin: 20px auto;
	color: #251F1F;
}

p.mt__about__desc {
    font-size: 16px;
    margin-top: 60px;
	color: #868383;
}

a.mt__about__read-more {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: #457AC0;
	font-weight: 600;
	font-size: 20px;
}
/* ::::: About Styles ends here ::::: */

/* ::::: Buy Styles starts here ::::: */

.mt__buy-block {
    height: 700px;
    background: #ececec;
}

.mt__buy__top-block {
    height: 220px;
    position: absolute;
    width: 100%;
    left: 0;
    background: url(../images/banner_bg.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.mt__buy__bottom-block {
    position: relative;
    top: 220px;
}

h6.mt__buy__top-block__primary-title, .mt__buy__top-block__secondary-title {
    font-size: 30px;
    margin-left: 7%;
    text-transform: uppercase;
    margin-top: 30px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h6.mt__buy__top-block__secondary-title {
    float: right;
    color: #fff;
    margin-top: 35px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
    margin-right: 6%;
}

.mt__buy__bottom-block__left-container {
    float: left;
    width: 30%;
    position: relative;
}

.mt__buy__bottom-block__left-container__book-wrap {
    width: 200px;
    height: 340px;
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
}

.mt__buy__bottom-block__right-container {
    float: right;
    width: 65%;
}

h6.mt__buy__bottom-block__right-container__title {
    font-size: 30px;
    margin-top: 120px;
    text-align: center;
    color: #5F5D5D;
}

.mt__buy__bottom-block__right-container__buy {
    margin: auto;
    margin-top: 70px;
}

.mt__buy__bottom-block__right-container__buy a {
    width: 205px;
    height: 50px;
    margin: 30px 0px;
    display: inline-block;
}

a.mt__buy__bottom-block__right-container__amazon {
    background: url(../images/amazon.png) no-repeat;
    background-size: contain;
    background-position: center center;
}

a.mt__buy__bottom-block__right-container__google {
    background: url(../images/google_books.png) no-repeat;  background-size: contain;  background-position: center center;
}

.mt__buy__bottom-block__right-container__flipkart {
    background: url(../images/Flipkart.png) no-repeat;  background-size: contain;  background-position: center center;
    /* display: block !important; */
    /* margin: auto !important; */
}

/* ::::: Buy Styles ends here ::::: */

/* ::::: Explict Styles starts here ::::: */

.mt__explict-block {
    position: relative;
    width: 100%;
    height: 650px;
    background: url(../images/bg-exp.png) no-repeat;
    background-size: cover;
}

.mt__explict__pdf-container {
	width: 800px;
	margin: auto;
	height: 500px;
	padding-top: 75px;
}

/* ::::: Explict Styles ends here ::::: */

/* ::::: contact Styles starts here ::::: */

.mt__contact-block {
	background: #ececec;
	height: 100px;
}

.mt__contact__link {
    margin-top: 24px;
}

.mt__contact__link.center {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

span.mt__contact__link__icon {
    display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	float: left;
	background: url(../images/footer.png) no-repeat #1f6acd;
	background-position: right center;
}
span.mt__contact__link__icon.copyright {
	background-position: 0px center;
}
span.mt__contact__link__icon.call {
	background-position: center center;
}

.mt__contact__link__text-wrap {
    white-space: nowrap;
    margin-left: 70px;
}

.mt__contact__link__title {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 7px;
    font-weight: 600;
}

.mt__contact__link__text {
    font-size: 14px;
    margin-top: 4px;
}
.mt__contact__link__text a {
	text-decoration: none;
	color: inherit;
}

.mt__contact__link__text.center {
margin-top: 11px;
font-size: 14px;
text-transform: uppercase;
}

/* ::::: contact Styles ends here ::::: */