* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    outline: none;
	font-family: 'Opensans';
    font-weight: 400;
}/*
p{
text-align: justify
}
.bgs{
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 20px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 30px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 20px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.intro{
    background-size: cover;
    background-position: center;
}
.paragraph-wrap{
    background: #DDD;
    height: auto;
    width: auto;
    opacity: 0.9
}
.cover{
/*    background-color: blue;*//*
    position: absolute;
    top: 0px;
    right: 20%;
    height: 800px;
    width: 367px;
    background: url(./../../images/sahana.png) no-repeat;
    background-size: contain;
    background-position: center top;
}
.book{
/*    background-color: blue;*//*
    position: absolute;
    top: 25%;
    right: 2%;
    height: 303px;
    width: 199px;
    background: url(./../../images/book.png) no-repeat;
    background-size: contain;
    background-position: center top;
}
.title{
    position: absolute;
    left: 10%;
    top: 45%
}
.scrolldown{
    position: absolute;
    top: 80%;
    right: 50%;
    height: 56px;
    width: 60px;
    background: url(./../../images/arrow.png) no-repeat;
    background-size: 50;
    background-position: center top;
    opacity: 0.65;
/*    filter: alpha(opacity=40);*//*
}

.scrolldown:hover{
    opacity: 1;
/*    filter: alpha(opacity=100);*//*
}
.headers{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: top
}
.headers .logo{
    float: left;
    padding-left: 20px;
    padding-top: 15px
}
.headers .mid{
    display: inline-block;
    float: right
}
.headers .button{
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-top: 15px;
    border-left: 1px solid #00AAAA;
    border-right: 1px solid #00AAAA;
}
.headers .button:hover{
    background: url(./../../images/arrow.png) no-repeat;
    background-size: 15;
    background-position: bottom;
}
.imageContainer{
    background-size: contain;
    background-color: "#aa3ddd";
    position: absolute;
    left: 40%;
}*/
.sahana {
    background: url(./../../images/sample.png) no-repeat;
    background-size: contain;
/*    background-blend-mode: luminosity ;*/
/*    border:3px solid black;*/
/*    transform: translateY(20px);*/
/*    border-radius: 50%;*/
    height: 4250px;
    width: 1250px;
/*    float: inherit;*/
    /*    border-radius: 50%;*/
/*
    height: 250px;
    width: 250px;
*/
}
